<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Projects</li>
            <li ng-repeat="project in projects track by $index">
                <a href ng-click="toggleSidebar(); $root.query = '+' + project">{{ project }}</a>
            </li>
            <li class="sidebar-brand">Contexts</li>
            <li ng-repeat="context in contexts track by $index">
                <a href ng-click="toggleSidebar(); $root.query = '@' + context">{{ context }}</a>
            </li>
        </ul>
    </div>
</div>
