<div class="input-group">
    <input type="text" id="search" class="search-query form-control" placeholder="Search" ng-model="query" />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Clear" ng-click="query = ''">&times;</button>
    </span>
</div>

<ul id="tasks">
    <li id="task-{{ task.id }}" class="task" ng-class="{completed: task.complete}" ng-repeat="task in tasks | filter:query">
        <input type="checkbox" name="task-{{ task.id }}-complete" ng-change="update(task);" ng-model="task.complete" />
        <span editable-text="task.raw" onaftersave="save(task)">
            {{ task.description }}
        </span>

        <ul class="contexts">
            <li ng-repeat="context in task.contexts"><a href ng-click="$parent.$parent.query = '@' + context" class="label label-success">@{{ context }}</a></li>
        </ul>
        <ul class="projects">
            <li ng-repeat="project in task.projects"><a href ng-click="$parent.$parent.query = '+' + project" class="label label-info">+{{ project }}</a></li>
        </ul>
    </li>
</ul>
