<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" ng-if="alerts.length == 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href ng-click="refresh()">
                        <span class="glyphicon glyphicon-refresh"></span> Update
                    </a>
                </li>
                <li>
                    <a href ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container" ng-if="alerts.length > 0">
        <div id="alerts" ng-click="close(0)" class="alert alert-{{ alerts[0].type }}" role="alert">
            <button type="button" class="close">&times;</button>
            {{ alerts[0].message }}
        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group input-group-lg">
        <span class="input-group-btn">
            <button class="btn btn-default" title="Clear search" ng-click="query = ''">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
        <input type="text" id="search" class="search-query form-control" placeholder="Search or add" ng-model="query" />
        <span class="input-group-btn">
            <button class="btn btn-primary" name="create" title="New task" ng-click="save(query)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>

    <ul id="tasks">
        <li
            id="task-{{ task.id }}"
            class="task priority-{{ task.priority || 'none' }}"
            ng-class="{completed: task.complete}"
            ng-repeat="task in tasks | filter:query"
            ng-init="hidden=true"
        >
            <span class="description" editable-text="task.raw" onaftersave="update(task)" e-form="form" ng-dblclick="form.$show()">
                <input type="checkbox" name="task-{{ task.id }}-complete" ng-change="task.complete ? complete(task) : uncomplete(task);" ng-model="task.complete" />
                {{ task.description }}
            </span>

            <button ng-click="hidden=!hidden" ng-show="hasDetail(task)" title="Show detail" class="show-detail btn btn-default glyphicon glyphicon-chevron-{{ hidden ? 'down' : 'up'}}"></button>

            <ul class="contexts">
                <li ng-repeat="context in task.contexts"><a href ng-click="$parent.$parent.query = '@' + context" class="label label-success">@{{ context }}</a></li>
            </ul>
            <ul class="projects">
                <li ng-repeat="project in task.projects"><a href ng-click="$parent.$parent.query = '+' + project" class="label label-info">+{{ project }}</a></li>
            </ul>

            <dl class="detail dl-horizontal" ng-if="hasDetail(task)" ng-hide="hidden" id="task-{{ task.id }}-detail">
                <hr />
                <dt class="created" ng-if="task.created">Created</dt><dd>{{ task.created }}</dd>
                <dt class="completed" ng-if="task.completed">Completed</dt><dd>{{ task.completed }}</dd>
            </dl>
        </li>
    </ul>
</div>
