ul#tasks {
    list-style-type: none;
    margin-left: 0;
}

li.task {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 2em;
}

ul.contexts, ul.projects {
    list-style-type: none;
    margin-left: 0;

    float: right;
    top: -5px;
    position: relative;
}

.contexts li, .projects li {
    display: inline;
    margin-left: 5px;
}

.contexts li a, .projects li a {
    padding: 5px 10px;
}
