* {
    font-family: "Fira Sans";
}

.alert {
    margin: 5px 0 0 0;
    padding: 10px;
}

.task.priority-A {
    background-color: rgb(242, 222, 222);
}

.task.priority-B {
    background-color: rgb(252, 248, 227);
}

.task.priority-C {
    background-color: rgb(217, 237, 247);
}

.task.priority-D {
    background-color: rgb(223, 240, 216);
}

.task.completed p {
    text-decoration: line-through;
}

.show-detail {

    float: right;
}

[data-type="list"] .show-detail[data-icon]::before
{
    line-height: 2rem;
}

[data-type="list"] li {
    height: auto;
}
