ul#tasks {
    list-style: none outside none;
    padding-left: 0;
}

li.task {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.task.priority-A {
    background-color: rgb(242, 222, 222);
}

li.task.priority-B {
    background-color: rgb(252, 248, 227);
}

li.task.priority-C {
    background-color: rgb(217, 237, 247);
}

li.task.priority-D {
    background-color: rgb(223, 240, 216);
}

li.task.completed .description {
    text-decoration: line-through;
}

ul.contexts, ul.projects {
    list-style: none outside none;
    padding-left: 0;
}

#tasks ul.contexts, #tasks ul.projects {
    top: -5px;
    position: relative;
}

#tasks ul.contexts, #tasks ul.projects, .show-detail {
    float: right;
}

.contexts li, .projects li, .show-detail {
    display: inline;
    margin-left: 5px;
}

.contexts li a, .projects li a {
    padding: 5px 10px;
}

.task .editable-text,
.task .editable-controls,
.task .editable-input {
    width: 95%;
}

.task .editable-text ~ .contexts,
.task .editable-text ~ .projects,
.task .editable-text ~ .show-detail {
    display: none;
}
